{# templates/product/new.html.twig #}
<h1>Upload a file to AWS</h1>

{{ form_start(form) }}
    {# ... #}

    {{ form_row(form.file_binary) }}
<input type="submit">
{{ form_end(form) }}

<ul>
    {% for file in files %}
        <li>
            <a href="{{ path('aws_download_file', {id: file.id})  }}">{{ file.path }}</a>
        </li>
    {% endfor %}
</ul>


